# Ignore video files
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.wmv

# Ignore image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.ico

# Ignore JSON files
*.json

# Ignore model files
*.pt
*.pth

# Ignore library folder
kafka/
elasticsearch*/
__pycache__/
save_person/
pretrained/
test_data/

# Ignore config and zipped files
*.ini
*.zip
*.tgz